*{ margin:0; padding: 0; box-sizing: border-box}

body{ font-family: 'Roboto', sans-serif; background-color: #4F89C4; font-size: 14px;}

/*header*/

header { background-color: #081212; top:0; left:0; right:0; padding: 10px;}

.main-header{float: left;}

header .menu{display: inline-block;}

/*icon*/

header .menu-icon{ color: white;}

header ul { display: block; }

header li{display: inline; padding: 5px;}

header li a { color: white;} /*header*/

header li a:hover{background-color: #35363B;}

.menu a{font-size: 0.9em; text-decoration: none; color: white; padding: 10px;}

/*login*/

.login{ background-color: white; width: 100%; height: 530px; padding: 40px; margin: 35px auto; border-radius:10px;}

h2{font-size: 1em; padding: 12%;}

fieldset{border:none; text-align: center;}

input{padding: 8px; font-size: 0.7em;} /*padding de los placeholder*/

/*separador entre placeholder*/
.separador1{padding: 10px;}

/*separador*/

.separador{padding: 8%;}

/*boton de iniciar sesion*/

.boton{background: #4F89C4; padding: 3%; border-radius: 6px; color:white;}

a{ text-decoration: none; color: white; font-size: 0.9em;}

/*preguntas*/

.preguntas{ margin: 40px;}

.preguntas p {font-size: 0.8em;}

.preguntas a{font-size: 0.7em; text-decoration: none; color:black;}

/*footer*/

.main-footer { display: flex; justify-content: flex-end; flex-direction: column; align-items: center;}

footer a { text-decoration: none; color: white; }

footer ul { width: 100%; background-color: black; }

footer li{ background-color: black; text-align: center; list-style: none; padding: 2%; font-size: 1.2em; }

#redes i {color: white;}

#redes i:hover {color: #4F89C4;}
#legal { color: white; font-size: 0.8em;}

@media (min-width: 375px) {
  .login {width: 80%;}
}
@media (min-width: 768px) {
  header .menu{display: inline-block;}
  h2 { font-size: 1.5em; }
  .login {width: 50%;}
  input { font-size: 0.9em;}
  a { font-size: 1em;}
  .preguntas p {font-size: 1em;}
  .preguntas a{font-size: 0.8em;}
  footer li {padding: 1%; font-size: 1em;}
  #legal {font-size: 1em;}


@media (min-width: 1024px) {
  h2 {font-size: 2em;}
  input {font-size: 1em;}
  .login {width: 50%;}
  .menu a{font-size: 1.1em;}
  a {font-size: 1.2em;}
  .preguntas p {font-size: 1.1em;}
  .preguntas a {font-size: 0.9em;}
  footer li {padding: 0.5%; font-size: 1.1em;}
  #legal {font-size: 1em;}
